In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
Co_Emission = "CO2Emission.csv"
Glacier_Mass= "GlacierMass.csv"
Global_Temp="GlobalTemp.csv"
global_temp_monthly="GlobalTempMonthly.csv"
NS_Temp="NSTempgraph.csv"

In [3]:
df1=pd.read_csv(Co_Emission)
df2=pd.read_csv(Glacier_Mass)
df3=pd.read_csv(Global_Temp)
df4=pd.read_csv(global_temp_monthly)
df5=pd.read_csv(NS_Temp)

In [4]:
merge1=pd.merge(df2, df3, on="Year")
merge1.head()

,Unnamed: 0_x,Year,Mean cumulative mass balance,Number of observations,Unnamed: 0_y,Source,Mean
0,0,1945,0.00,NaN,142,GCAG,0.1710
1,0,1945,0.00,NaN,143,GISTEMP,0.1200
2,1,1946,-1.13,1.0,140,GCAG,-0.0040
3,1,1946,-1.13,1.0,141,GISTEMP,-0.0400
4,2,1947,-3.19,1.0,138,GCAG,-0.0477

In [5]:
merge2=pd.merge(df2, df1, on="Year")
merge2.head()

,Unnamed: 0_x,Year,Mean cumulative mass balance,Number of observations,Unnamed: 0_y,Total,Gas Fuel,Liquid Fuel,Solid Fuel,Cement,Gas Flaring,Per Capita
0,0,1945,0.00,NaN,194,1160,59,275,820,7,0,NaN
1,1,1946,-1.13,1.0,195,1238,61,292,875,10,0,NaN
2,2,1947,-3.19,1.0,196,1392,67,322,992,12,0,NaN
3,3,1948,-3.19,1.0,197,1469,76,364,1015,14,0,NaN
4,4,1949,-3.82,3.0,198,1419,81,362,960,16,0,NaN

In [6]:
final_dataframe= pd.merge(merge1, merge2, on="Year")
final_dataframe.head()

,Unnamed: 0_x_x,Year,Mean cumulative mass balance_x,Number of observations_x,Unnamed: 0_y_x,Source,Mean,Unnamed: 0_x_y,Mean cumulative mass balance_y,Number of observations_y,Unnamed: 0_y_y,Total,Gas Fuel,Liquid Fuel,Solid Fuel,Cement,Gas Flaring,Per Capita
0,0,1945,0.00,NaN,142,GCAG,0.1710,0,0.00,NaN,194,1160,59,275,820,7,0,NaN
1,0,1945,0.00,NaN,143,GISTEMP,0.1200,0,0.00,NaN,194,1160,59,275,820,7,0,NaN
2,1,1946,-1.13,1.0,140,GCAG,-0.0040,1,-1.13,1.0,195,1238,61,292,875,10,0,NaN
3,1,1946,-1.13,1.0,141,GISTEMP,-0.0400,1,-1.13,1.0,195,1238,61,292,875,10,0,NaN
4,2,1947,-3.19,1.0,138,GCAG,-0.0477,2,-3.19,1.0,196,1392,67,322,992,12,0,NaN

In [7]:
Clean_df=final_dataframe.drop(columns=['Unnamed: 0_x_x', 'Unnamed: 0_y_x', 'Unnamed: 0_x_y', 'Unnamed: 0_y_y', 'Number of observations_x','Number of observations_y','Mean cumulative mass balance_y'])
New_Clean=Clean_df.loc[ Clean_df['Source']=="GCAG"]
New_Clean.head()

,Year,Mean cumulative mass balance_x,Source,Mean,Total,Gas Fuel,Liquid Fuel,Solid Fuel,Cement,Gas Flaring,Per Capita
0,1945,0.00,GCAG,0.1710,1160,59,275,820,7,0,NaN
2,1946,-1.13,GCAG,-0.0040,1238,61,292,875,10,0,NaN
4,1947,-3.19,GCAG,-0.0477,1392,67,322,992,12,0,NaN
6,1948,-3.19,GCAG,-0.0487,1469,76,364,1015,14,0,NaN
8,1949,-3.82,GCAG,-0.0568,1419,81,362,960,16,0,NaN

In [8]:
final01=pd.merge(New_Clean, df5, on="Year")
final02=final01.rename(columns={"Mean cumulative mass balance_x":"Mean Glacier Mass","Mean":"Mean Global Temp", "Total":"Total Co2 Emission"})
final03=final02.fillna(0)
final04=final03.set_index("Year")
final05=final04.drop(final04.index[0:30])
final05.head()

,Mean Glacier Mass,Source,Mean Global Temp,Total Co2 Emission,Gas Fuel,Liquid Fuel,Solid Fuel,Cement,Gas Flaring,Per Capita,...,24S-24N,90S-24S,64N-90N,44N-64N,24N-44N,EQU-24N,24S-EQU,44S-24S,64S-44S,90S-64S
Year,,,,,,,,,,,,,,,,,,,,,
1975,-10.534,GCAG,0.0034,4596,604,2132,1673,95,92,1.13,...,-0.23,0.15,0.10,0.39,-0.05,-0.31,-0.16,0.13,0.14,0.25
1976,-10.633,GCAG,-0.0792,4864,630,2314,1710,103,108,1.18,...,-0.11,0.08,-0.07,-0.32,-0.28,-0.13,-0.10,0.10,0.22,-0.28
1977,-10.682,GCAG,0.1978,5026,650,2398,1765,108,104,1.19,...,0.16,0.25,0.16,0.24,0.07,0.10,0.22,0.22,0.31,0.24
1978,-10.754,GCAG,0.1123,5087,680,2392,1793,116,106,1.19,...,0.08,0.16,-0.16,0.04,-0.04,0.10,0.06,0.21,0.13,0.03
1979,-11.127,GCAG,0.2273,5369,721,2544,1887,119,98,1.23,...,0.26,0.23,-0.61,0.07,0.09,0.26,0.27,0.30,0.33,-0.21

In [16]:
# Filtering required columns for loading
filtered_cols = ["Mean Glacier Mass", "Mean Global Temp", "NHem", "SHem", 
                  "Total Co2 Emission", "Gas Fuel", "Liquid Fuel", "Solid Fuel","Cement", "Gas Flaring", "Per Capita"]
filtered_df=final05[filtered_cols]
final_df=filtered_df.rename(columns={"Mean Glacier Mass": "MeanGlacierMass","Mean Global Temp":"GCAGMeanGlobalTemp)",
                                     "Total Co2 Emission":"TotalCo2Emission", "Gas Fuel":"GasFuel",
                                     "Solid Fuel":"SolidFuel", "Gas Flaring":"GasFlaring", "Per Capita": "PerCapita",
                                    "Liquid Fuel":"Liquidfuel"})
final_df.head()

,MeanGlacierMass,GCAGMeanGlobalTemp),NHem,SHem,TotalCo2Emission,GasFuel,Liquidfuel,SolidFuel,Cement,GasFlaring,PerCapita
Year,,,,,,,,,,,
1975,-10.534,0.0034,-0.05,0.02,4596,604,2132,1673,95,92,1.13
1976,-10.633,-0.0792,-0.21,0.01,4864,630,2314,1710,103,108,1.18
1977,-10.682,0.1978,0.12,0.24,5026,650,2398,1765,108,104,1.19
1978,-10.754,0.1123,0.02,0.12,5087,680,2392,1793,116,106,1.19
1979,-11.127,0.2273,0.08,0.25,5369,721,2544,1887,119,98,1.23

In [17]:
final_df.to_csv("FinalData1.csv")